/* activate.css */
.activate-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #005851;
}
.body6 {
    background: linear-gradient(300deg, #003f30, #0f548c, #004a6cf0, #005d4f);
    background-size: 220% 220%;
    animation: gradient-animation 24s ease infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.activate-container {
    background: rgb(0, 87, 79);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.activate-button {
    background: #009d83;
    color: rgb(210, 210, 210);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.activate-button:disabled {
    background: #acacac;
}

.error-message {
    color: red;
    margin-top: 10px;
}
